.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: Space-between;

}

.n-left {
    flex: 1;
    align-self: center;
    display: flex;
    gap: 3rem;
}

.n-name {
    font-size: 5rem;
    font-weight: bold;

}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;

}

.n-button {
    flex: 2;
    /* width: 100px; */
    font-size: 2.5rem;
}

.n-list>ul {
    display: flex;
    gap: 5rem;
    margin-right: 8rem;
    list-style: none;
    cursor: pointer;
    font-size: 2.5rem;
}

.n-list ul li:hover {
    cursor: pointer;
    color: var(--orange);
    
    
}



@media screen and (max-width : 815px) {
    .n-list {
        display: none;
    }

    .n-right {
        justify-content: flex-end;
    }

    .n-name {
        font-size: 4.5rem;
        font-weight: bold;

    }
}


@media screen and (min-width : 815px)  and (max-width : 980px) {
    .n-left {

        gap: 2rem;
    }

    .n-list>ul {
        gap: 2rem;
        margin-right: 4rem;
       
    }
}






/* 
@media screen and (max-width : 480px) {
    .n-list {
        display: none;
    }

    .n-right {
        justify-content: flex-end;
    }
}

@media screen and (min-width : 480px) and (max-width: 800px) {

    .n-wrapper {
        width: 100%;

    }

    .n-list {
        display: none;
    }

    .n-right {
        justify-content: flex-end;
    }
} */