.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 8rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 8rem;
    margin-top: 10px;
}

.i-name>:nth-child(3) {
    font-weight: 100;
    font-size: 3rem;
    color: var(--gray);
    margin-top: 20px;
}

.i-button {
    font-size: 3rem;
}

.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
}

.i-icons>a>* {
    transform: scale(0.7);
}

.i-icons>a>*:hover {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;

}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.89);
    top: 0%;
    left: 15%;
}

.i-right>:nth-child(2) {
    transform: scale(0.8);
    top: 0rem;
    left: 15.5rem;
}

.i-right>:nth-child(3) {
    transform: scale(0.77);
    left: 16.5%;
    top: -10.5rem;
}

.i-right>:nth-child(4) {
    transform: scale(0.6);
    left: -19%;
    top: -18%;
    border-radius: 50%;
    padding: 0;

}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: -18%;
    left: 56%;
    /* transition: 0.5s; */
}


@media screen and (max-width: 1440px) {


    .i-name>:nth-child(3) {
        margin-top: 15px;
    }

    .i-right>:nth-child(1) {
        transform: scale(0.69);
        top: 0%;
        left: -3%;
    }

    .i-right>:nth-child(2) {
        transform: scale(0.58);
        top: -8%;
        left: 0%;
    }

    .i-right>:nth-child(3) {
        transform: scale(0.6);
        left: -1.5%;
        top: -24.5%;
    }



    .i-right>:nth-child(4) {
        transform: scale(0.5);

    }


}

@media screen and (max-width: 1230px) {
    .i-icons {
        margin-top: 1rem;
        gap: 1rem;

    }

    .i-icons>a>* {
        transform: scale(0.6);
    }

    .i-right>:nth-child(1) {
        transform: scale(0.69);
        top: 0%;
        left: -16%;
    }

    .i-right>:nth-child(2) {
        transform: scale(0.58);
        top: -8%;
        left: -15%;
    }

    .i-right>:nth-child(3) {
        transform: scale(0.6);
        left: -19.5%;
        top: -24.5%;
    }
}

@media screen and (max-width: 1030px) {
    .i-right {
        transform: scale(0.8);
        top: -10%;
        left: -2%;
    }
}
@media screen and (max-width: 890px) {
    .i-right {
        top: -10%;
        left: -11%;
    }
}

@media screen and (max-width: 870px) {
    .i-right {
        top: -10%;
        left: -11%;
    }
}

@media screen and (max-width: 800px) {
    .i-right {
        top: -10%;
        left: -15%;
    }
}



@media screen and (max-width: 770px) {

    .intro {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-top: 50px;
        margin-bottom: 20REM;
    }

    .i-icons>a>* {
        transform: scale(0.7);
    }

    .i-right {
        transform: scale(1.2);
        top: -2%;
        left: 13%;
    }



    .i-right>:nth-child(4) {
        transform: scale(0.6);
        left: 23% !important;
        top: -98%;


    }

    .floating-div:nth-of-type(1) {
        top: 10.5% !important;
        left: 40.5% !important;
    }

    .floating-div:nth-of-type(2) {

        left: -1% !important;
        top: 100% !important;
    }


}

@media screen and (max-width: 700px) {
    .i-right {
        transform: scale(1.2);
        top: -2%;
        left: 7%;
    }
}

@media screen and (max-width: 650px) {
    .i-right {
        transform: scale(1);
        top: -9%;
        left: 0%;
    }

    .i-right>:nth-child(4) {
        transform: scale(0.6);
        left: 35% !important;
        top: -98%;
    }
}

@media screen and (max-width: 590px) {
    .i-right {
        transform: scale(1);
        top: -6%;
        left: -9%;
    }


    .i-right>:nth-child(4) {
        transform: scale(0.6);
        left: 60% !important;
        top: -98%;
    }

    .floating-div:nth-of-type(1) {
        top: 10.5% !important;
        left: 63.5% !important;
    }
}

@media screen and (max-width: 540px) {
    .i-right {
        transform: scale(0.8);
        top: -8%;
        left: -14%;
    }


    .i-right>:nth-child(4) {
        transform: scale(0.6);
        left: 60% !important;
        top: -140%;

    }

    .floating-div:nth-of-type(1) {
        top: 10.5% !important;
        left: 63.5% !important;
    }
}

@media screen and (max-width: 480px) {
    .intro {
        height: 90vh;
        margin-top: 30px;
        margin-bottom: 0rem;
    }

    .i-icons>a>* {
        transform: scale(0.5);
    }

    .i-icons {
        margin-top: 0rem;
        gap: 0rem;
    }

    .i-right {
        transform: scale(0.7);
        top: -13%;
        left: -15%;
    }



    .floating-div:nth-of-type(1) {
        top: 10.5% !important;
        left: 63.5% !important;
    }
}

@media screen and (max-width: 376px) {


    .i-right {
        transform: scale(0.6);
        top: -13%;
        left: -20%;
    }



    .i-right>:nth-child(4) {
        transform: scale(0.6);
        left: 63% !important;
        top: -169%;

    }
}

@media screen and (max-width: 321px) {

    .i-name>:nth-child(1) {
        font-size: 6rem;
    }

    .i-name>:nth-child(2) {
        font-size: 6rem;
    }

    .i-right {
        transform: scale(0.56);
        top: -13%;
        left: -27%;
    }

    .i-right>:nth-child(4) {
        transform: scale(0.5);
        left: 80% !important;
        top: -183%;
    }

    .floating-div:nth-of-type(1) {
        top: 13.5% !important;
        left: 105.5% !important;
    }
}